{% extends 'base.html.twig' %}

{% block title %}Profil de "{{ user.name }}"{% endblock %}

{% block body %}
    <h1><strong> Profil de "{{ user.name }}"</strong></h1>


            <div class="my-4 card bg-black " style="--bs-bg-opacity: .5;">
                <div class="card-body">
                    <div class="mb-3">
                        Niveau <span class="border border-primary rounded-circle px-2 py-1">{{ user.level }}</span>
                    </div>
                    <span>Prochain Niveau :</span>
                    <div class="progress mb-3">
                        <div class="progress-bar" role="progressbar" style="width: {{ user.levelCompletion }}%" aria-valuenow="{{ user.levelCompletion }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>Membre de l'application depuis le {{ user.dateInscription|date('d/m/y') }}.</span>
                </div>
            </div>

    <ul class="list-unstyled">
        {% for quote in last_created_quotes %}
            <div class="card my-4 bg-black" style="--bs-bg-opacity: .5;">
                <li class="m-5"><strong>{{ quote.content }} </strong>
                    <br> <p class="text-muted"> <i>-- {{ quote.meta }}</i> &nbsp
                        {% if quote.category %} <a href="/category/{{ quote.category.id }}" type="button"
                                                   class="btn btn-dark">{{ quote.category }}</a>
                        {% endif %}
                        <br>
                        Le {{ quote.date_creation|date('d/m/y') }} par {{ quote.author.name }}
                        <br>
                        {% if is_granted('QUOTE_EDIT', quote)  or is_granted('QUOTE_DELETE', quote) %}
                    <p>
                        {% if is_granted('QUOTE_EDIT', quote) %}
                            <a type="button" class="btn btn-outline-warning" href="/quote/{{ quote.id }}/edit">modifier</a>
                        {% endif %}
                        {% if is_granted('QUOTE_DELETE', quote) %}
                            <a type="button" class="btn btn-outline-danger" href="/quote/{{ quote.id }}/delete">supprimer</a>
                        {% endif %}

                    </p>
                    {% endif %}
                </li>
            </div>
        {% else %}
            <li>Aucune citation</li>
        {% endfor %}
    </ul>


{% endblock %}
