{% extends 'base.html.twig' %}

{% block title %}Liste des citations{% endblock %}

{% block body %}
    <div>
        <h1><strong>Liste des citations</strong></h1>
        <ul>
            {{ component('new_quote', { message: 'Hello Twig Components!' }) }}
            {% for quote in quotes %}
                <div class="card my-4 bg-black" style="--bs-bg-opacity: .5;">
                    <li class="m-5"><strong>{{ quote.content }} </strong>
                        <br>
                        <p class="text-muted"><i>-- {{ quote.meta }}</i> &nbsp
                            {% if quote.category %} <a href="/category/{{ quote.category.id }}" type="button"
                                                       class="btn btn-dark">{{ quote.category }}</a>
                            {% endif %}
                            <br>
                            Le {{ quote.date_creation|date('d/m/y') }} par {{ quote.author.name }}
                            <a href="/profile/{{ quote.author.id }}">{{ quote.author.name }}</a>

                            <br>
                            {% if is_granted('QUOTE_EDIT', quote)  or is_granted('QUOTE_DELETE', quote) %}
                        <p>
                            {% if is_granted('QUOTE_EDIT', quote) %}
                                <a type="button" class="btn btn-outline-warning" href="/quote/{{ quote.id }}/edit">modifier</a>
                            {% endif %}
                            {% if is_granted('QUOTE_DELETE', quote) %}
                                <a type="button" class="btn btn-outline-danger" href="/quote/{{ quote.id }}/delete">supprimer</a>
                            {% endif %}

                        </p>
                        {% endif %}
                    </li>
                </div>
            {% else %}
                <li>Aucun résultat trouvé</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
