{% extends 'base.html.twig' %}

{% block title %}Liste des citations{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1><strong>Liste des citations</strong></h1>
        <ul>
            {% for quote in quotes %}
                <li class="m-5"><strong>{{ quote.content }} </strong>
                    <br> by <p class="text-muted"> -- {{ quote.meta }} &nbsp
                        {% if quote.category %} <a href="/category/{{ quote.category.id }}" type="button"
                                                   class="btn btn-dark">{{ quote.category }}</a>
                        {% endif %}
                        <br>
                        par : {{ quote.author.name }}
                        {% if is_granted('QUOTE_EDIT', quote)  or is_granted('QUOTE_DELETE', quote) %}
                    <p>
                        {% if is_granted('QUOTE_EDIT', quote) %}
                            <a type="button" class="btn btn-outline-warning m-2" href="/quote/{{ quote.id }}/edit">modifier</a>
                        {% endif %}
                        {% if is_granted('QUOTE_DELETE', quote) %}
                            <a type="button" class="btn btn-outline-danger m-2" href="/quote/{{ quote.id }}/delete">supprimer</a>
                        {% endif %}

                    </p>
                    {% endif %}
                </li>
            {% else %}
                <li>Aucun résultat trouvé</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
